.navbar {
    background-color: #3f3b3b;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.form-container select {
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 2em;
}

table,
th,
td {
    border: 1px solid #ccc;
    text-align: center;
}