.navbar {
    background-color: #3f3b3b;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}