#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

#pagination-wrapper {
    margin: 50px;
    text-align: center;
}